<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    {{{block "stylesheets"}}}
    {{{block "javascript"}}}
  </head>
  <body>
      {{{body}}}
  </body>
</html>
