{{#extend "stylesheets"}}
<link rel='stylesheet' href='/stylesheets/tipTip.css' />
<link rel='stylesheet' href='/stylesheets/repoGraph.css' />
{{/extend}}
{{#extend "javascript"}}
<script type="text/javascript" src="/javascripts/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/javascripts/underscore.js"></script>
<script type="text/javascript" src="/javascripts/underscore.string.js"></script>
<script type="text/javascript" src="/javascripts/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipTip.js"></script>
<script type="text/javascript" src="/javascripts/build/canviz.js"></script>
<script type="text/javascript" src="/javascripts/x11colors.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

function reloadCanviz() {
    // TODO
}

function setupRealtime() {
    var socket = io.connect('http://localhost');
    socket.on('connect', function() {
        reloadCanviz();
        refreshGraph();
    });
    socket.on('change:{{ repo }}', function(data) {
        refreshGraph();
    });
}

function bindForm(form) {
    var onChange = _.debounce(refreshGraph, 50);

    form.change(onChange);

    $(window).keypress(function(e) {
        if (e.charCode === 'b'.charCodeAt(0)) {
            var blobsCb = form.find('#blobs');
            blobsCb.prop("checked", !blobsCb.prop("checked"));
            onChange();
            e.preventDefault();
        } else if (e.charCode === 'x'.charCodeAt(0)) {
            var el = document.createElement('div');
            el.className = 'xdot-output';
            el.innerText = canviz.xdot;
            document.body.appendChild(el);
        }
    });
}

function formParams() {
    return {blobs: !!$("#graph-controls #blobs").attr('checked')};
}

$(function() {
    setupRealtime();
    bindForm($('#graph-controls'));
});

var canviz;
function refreshGraph() {
    if (!canviz)
        canviz = new Canviz('#graph_container');

    canviz.load('/{{ repo }}/graph', formParams(), function() {
        $("#graph_container .entity[title]").tipTip({
            delay: 100,
        });
    });
}

</script>
{{/extend}}

<div id="page_container">
    <div id="graph_container"></div>
    <div id="graph-controls">
        <form method="">
            <h4>Show:</h4>
            <div>
                <input type="checkbox" id="blobs" name="show" value="blobs" checked />
                <label for="blobs">Blobs</label>
            </div>
        </form>
    </div>
    <div id="debug_output"></div>
</div>
