html { height: 100%; }
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #BDDEEF 100%);
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #BDDEEF 100%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #BDDEEF 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #BDDEEF));
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #BDDEEF 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #BDDEEF 100%);
}

a { color: #00B7FF; }

#graph-controls { opacity: .2; }
#graph-controls:hover { opacity: 1; }

#graph-controls {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;

    padding: 10px;
    margin: 10px;

    background: #ffdddd;
    border: solid 1px #ffaaaa;

    font-size: 10px;
}

#graph-controls h4 { margin: 0; margin-bottom: 10px; }

#graph_container {
	margin: 0 auto;
}
#debug_output {
	margin: 1em;
}
.xdot-output {
    position:absolute;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
    white-space: pre;
    font-size: 9px;
    font-family: Monaco;
}
